

<!DOCTYPE html>
<html>
    <head>
        <title>RomanPort Archives - Admin</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:500,700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    </head>
    <body>
        <b>Delete Directory at {PATH}</b><br><br>
        <span style="">This directory will be moved to a trash folder. To remove it entirely, you'll need to delete it from the filesystem manually.</span>
        <form method="post">
            <label for="dir_title">Confirmation; Type directory title "{DIR_TITLE}"</label><br>
            <input type="text" id="confirm_title" name="confirm_title" placeholder="{DIR_TITLE}"/><br><br>

            <input type="submit" value="Delete">
        </form>
    </body>
</html>
