<div class="aitem{CUSTOM_CLASSES}">
    <div class="aitem_content">
        <div class="aitem_content_icon"><span class="material-icons"> insert_drive_file </span></div>
        <div class="aitem_content_title"><a href="{ITEM_PATH}">{ITEM_NAME}</a></div>
        <div class="aitem_content_date">{ITEM_MODIFIED}</div>
        <div class="aitem_content_date aitem_content_date_short">{ITEM_MODIFIED_SHORT}</div>
        <div class="aitem_content_size">{ITEM_SIZE}</div>
        <div class="aitem_content_actions"></div>
    </div>
</div>