        </div>
        {FOOTER}
        <div class="footer_border"></div>
        <div class="footer">
            Built using custom software by RomanPort - <a href="{ADMIN_SIGNIN_URL}">Admin</a><br><br>Page layout and software (C) RomanPort 2020. Files hosted on this site belong to their respective owners.<br>To request a takedown, send an e-mail to rvporterfield@gmail.com. Takedowns will be completed within 24 hours.
        </div>
        <div class="player_container player_hidden" id="player_container">
            <div class="player player_embedded">
                <div class="player_title"><span class="material-icons"> audiotrack </span> <span id="player_title">Example Track Title</span></div>
                <div class="player_time" id="player_time">0:21 / 1:37</div>
                <div class="player_progress" id="player_progress_container"><div class="player_progress_bar" id="player_progress"></div></div>
                <div class="player_action player_action_paused" id="player_action" onclick="TogglePlayerPaused();">
                    <div class="player_action_wheel">
                        <div class="material-icons"> pause </div>
                        <div class="material-icons"> play_arrow </div>
                    </div>
                </div>
                <div class="player_loading" id="player_loading"></div>
            </div>
        </div>
        
        <script src="/assets/archives/archives.js"></script>
    </body>
</html>
