
<!DOCTYPE html>
<html>
    <head>
        <title>RomanPort Archives - {FOLDER_TITLE}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:500,700&display=swap" rel="stylesheet">
        <link href="/assets/archives/archives.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        {META_TAGS}
    </head>
    <body>
        <div class="head">
            <div class="head_content">
                <div class="head_path_container">{PATH}</div>
                <div style="position:relative;">
                    <div class="head_text">{FOLDER_TITLE}</div>
                    <div class="head_subtext">{FOLDER_DESCRIPTION}</div>
                    <div class="head_btn_area">
                        <a class="a_hidden" href="{URL}?action=zip" target="_blank"><div class="head_btn">Download as ZIP</div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="acontent">
