
<!DOCTYPE html>
<html>
    <head>
        <title>RomanPort Archives - {FILE_NAME}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:500,700&display=swap" rel="stylesheet">
        <link href="/assets/archives/archives.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        {META_TAGS}
    </head>
    <body>
        <div class="head">
            <div class="head_content">
                <div class="head_path_container">{PATH}</div>
                <div style="position:relative;">
                    <div class="head_text">{FILE_NAME}</div>
                    <div class="head_subtext">In {FOLDER_TITLE}</div>
                    <div class="head_btn_area">
                        <a class="a_hidden" href="{URL}?action=download" target="_blank"><div class="head_btn">Download File</div></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="filedetails_container">
            <div class="filedetails_block">
                <div class="filedetails_block_title">Description</div>
                <div class="filedetails_block_text">{FILE_DESCRIPTION}</div>
            </div>
            <div class="filedetails_block">
                <div class="filedetails_block_title">Details</div>
                <div class="filedetails_block_text"><div class="filedetails_block_detailspanel_text">File Size</div> {SIZE}</div>
                <div class="filedetails_block_text"><div class="filedetails_block_detailspanel_text">File Modified</div> {DATE}</div>
            </div>
            <div class="filedetails_block">
                <div class="filedetails_block_title">Tags</div>
                {TAGS}
            </div>
            <div class="filedetails_block">
                <div class="filedetails_block_title">Preview</div>
                <div class="player">
                    <noscript>
                        <div class="player_nojs"><span class="material-icons" style=" font-size: 30px; vertical-align: middle; margin-right: 5px; margin-bottom: 4px; "> error_outline </span> Preview Player requires JavaScript</div>
                    </noscript>
                    <div class="player_title"><span class="material-icons"> audiotrack </span> <span id="player_title">{FILE_NAME}</span></div>
                    <div class="player_time" id="player_time"></div>
                    <div class="player_progress" id="player_progress_container"><div class="player_progress_bar" id="player_progress"></div></div>
                    <div class="player_action player_action_paused" id="player_action" onclick="TogglePlayerPaused();">
                        <div class="player_action_wheel">
                            <div class="material-icons"> pause </div>
                            <div class="material-icons"> play_arrow </div>
                        </div>
                    </div>
                    <div class="player_loading" id="player_loading"></div>
                </div>
            </div>
        </div>

        <div class="footer_border"></div>
        <div class="footer">
            Built using custom software by RomanPort<br><br>Page layout and software (C) RomanPort 2020. Files hosted on this site belong to their respective owners.<br>This site uses cookies only to highlight the last visited folder when navigating. They are not tracked or recorded.<br>To request a takedown, send an e-mail to rvporterfield@gmail.com. Takedowns will be completed within 24 hours.
        </div>
        <script src="/assets/archives/archives.js"></script>
        <script>
            LaunchPlayer(null, "{URL}?action=play", true);
        </script>
    </body>
</html>
